/* 
    Author: Hamza Nawabi;
    Theme: Restaurant Food Order;
    version: 2.0;
*/

/* CSS for All */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
   
    scroll-behavior: smooth;
    
}
body{
    animation: transitionIn .8s;
}

@keyframes transitionIn {
    from{
        opacity:0;
        /* transform: rotateX(-16deg); */
    }
    to{
        opacity:1;
        /* transform: rotateX(0); */
    }
}



.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
.text-color-primary{
    color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
    transition: .5s;
}
.float-text{
    position: absolute;
    bottom: 50px;
    transition: .5s;
    left:50px;
}
.float-container:hover img {
    transition: .5s;
    opacity: 0.6;
    
}

fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
legend{
    border-bottom: 1px solid ;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.search-custom{
    background-color: #ff6b8146;
    height: 200px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
/* CSSS for navbar section */

.form-control:focus{
    border-color: rgba(255, 71, 86, .8);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 71, 86, .6);
}
.foo{
    background-color: rgba(255, 0, 0, 0.437);
}
.food-search{
    background-image: url(../images/logo.png);
    /* background-color: #ff6b8146; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}

/* CSS for about */
.about{
    background-color: #ff6b8146;
}

/* CSS for footer */
.footer{
    /* background-color: #ff6b8146; */
    background:linear-gradient(#ff6b8146,rgba(255, 71, 86, .5)) ;
    padding: 15px;
    margin: -15px auto;
}
.footer a{
    transition: .4s;
    color: #2f3542;
}
.footer a:hover{
    color:rgba(255, 71, 86, .8);
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        height: 100%;
        /* transform: scale(255%); */
        /* background-color: #ff4757; */
        margin:auto;
        /* margin-left: 25px; */
    }
    .w-25{
        width: 75%;
    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

}


/* My style customize */
.nav-link{
    color:#ff6b81;
    font-weight: bold;
}

.logo-img{
    display: inline;
}
.card{
    transition: .6s;
}
.card:hover{
    box-shadow:2px 2px 12px #747d8c;
}
